extends ../layout/dashboard

block content 
  h1= 'Addresses'
  form(action="", method="post") 
    p 
      input(type="text", name="province", placeholder="استان", value=address.province)
    p 
      input(type="text", name="city", placeholder="شهر", value=address.city)
    p 
      input(type="text", name="street", placeholder="خیابان", value=address.street)
    p 
      input(type="text", name="address", placeholder="کوچه، پلاک، واحد", value=address.address)
    p 
      input(type="text", name="postalCode", placeholder="کد پستی", value=address.postalCode)

    p 
      input(type="submit", value="به روز رسانی")
      