extends layout 

block content 
  h1= 'Addresses'
  if(errorMessage)
    p #{errorMessage}

  form(action="", method="post") 
    p 
      input(type="text", name="province", placeholder="استان", value=address.province)
    p 
      input(type="text", name="city", placeholder="شهر", value=address.city)
    p 
      input(type="text", name="street", placeholder="خیابان", value=address.street)
    p 
      input(type="text", name="address", placeholder="کوچه، پلاک، واحد", value=address.address)
    p 
      input(type="text", name="postalCode", placeholder="کد پستی", value=address.postalCode)

    p 
      a(href="/account/address/remove/"+address.id)
        input(type="button", value="حذف")
      
      input(type="submit", value="به روز رسانی")
      