extends ../layout/dashboard 

block content 
  h1= 'Personal Information'
  if(errorMessage)
    p #{errorMessage}
  
  form(action="", method="post") 
    p
      input(type="text", name="firstName" placeholder="نام" value=information.firstName)
    p
      input(type="text", name="lastName" placeholder="نام خانوادگی" value=information.lastName)
    p
      input(type="date", name="birthDate" value=information.birthDate)
    for phoneNumber in information.phoneNumbers
      p
        input(type="text", name="phoneNumbers" placeholder="شماره تماس" value=phoneNumber)
    p
      input(type="text", name="phoneNumbers" placeholder="شماره تماس")
        
    p
      input(type="submit", value="ثبت")
