extends ../layout/dashboard 

block content 
  if(errorMessage)
    p #{errorMessage}
  
  form(action="", method="post") 
    h1(class="dashboard-input-title") اطلاعات شخصی
    div(class="dashboard-input-wrapper")
      label(class="dashboard-input-label") نام و نام خانوادگی:
      input(class="dashboard-input", name="firstName", type="text", placeholder="نام", value=information.firstName)
      hr 
      input(class="dashboard-input", name="lastName", type="text", placeholder="نام خانوادگی", value=information.lastName)

    div(class="dashboard-input-wrapper")
      label(class="dashboard-input-label") تاریخ تولد:
      input(class="dashboard-input", name="birthDate", type="date", value=information.birthDate)
    
    h1(class="dashboard-input-title") اطلاعات تماس
    div(class="dashboard-input-wrapper")
      label(class="dashboard-input-label", for="phoneNumbers") شماره های تماس: 
      for phoneNumber in information.phoneNumbers
        input(class="dashboard-input", type="text", name="phoneNumbers", placeholder="شماره تماس", value=phoneNumber)
        hr
      input(class="dashboard-input", type="text", name="phoneNumbers", placeholder="شماره تماس جدید")
    
    input(class="dashboard-submit-button", type="submit", value="به روز رسانی")
