extends ./layout/main

block content
  h1= title

  for product of products
    span 
      button 
        a(href="/product/" + product._id)  
          h3= product.title
          p= product.price 
          p= '-' + product.discount + '%'
          p= product.price*((1-(product.discount/100)))
        p
          for productCategory of product.categories 
            span
              a(href="/category/" + productCategory.name)= productCategory.title