extends ../layout/main

block content 
  h1= title 

  table 
    for item in cart 
      tr
        td= item.title
        td(style="color: red")= item.price*((100-item.discount)/100) + " تومان"

  form(action="/dashboard/order/", method="post") 
    br
    for address of user.addresses
      p 
        input(type="radio", name="address", id=address.id, value=address)
        label(for=address.id)= address.province + "-" + address.city + "-" + address.address + "-" + address.postalCode

    br
    br
    for phone of user.personalInfo.phoneNumbers
      p 
        input(type="radio", name="phone", id=phone, value=phone)
        label(for=phone)= phone

    p 
      input(type="text", name="discount", placeholder="کد تخفیف")

    p 
      input(type="submit", value="ادامه فرآیند خرید")

  p
    a(href="/cart/") تصحیح سبد خرید

  p 
    a(href="/cart/checkout/") پرداخت و ثبت سفارش
